{% extends "base_generic.html" %}
{% load upload_tags %}

{% block title %}
Project's
{% endblock %}

{% block header %}
<h1>Wordseer File Uploader<small> {{ user.username }}'s Projects</small></h1>
{% endblock %}

{% block content %}
<form id="fileupload" method="post" action="."
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row fileupload-buttonbar">
        <div class="col-md-7">
            {% load crispy_forms_tags %}
            {% crispy form %}
        </div>
    </div>
    <table class="table table-striped"><tbody class="files"></tbody></table>
</form>
<div class="fileupload-content">
    <table class="projects"></table>
    <div class="fileupload-progressbar"></div>
</div>

<div>
    {% if user.project_set.count > 0 %}
    <h2>Projects</h2>
    <table class="table table-striped">
        {% for project in projects %}
        {% if project.owner_id == user.id %}
        <tr>
            <td class="name"><a
                href="{% url 'fileupload:upload-new' proj_key=project.id %}">
                {{ project.name }}</a></td>
            <td class="delete">
                <a class="btn btn-danger"
                    href="{% url 'fileupload:project-delete' project.id %}">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
            </td>
            <td></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}
