{% extends "base_generic.html" %}

{% block title %}
Confirm deletion
{% endblock %}

{% block header %}
<h1>Delete project {{ object.name }} and all files?</h1>
{% endblock %}

{% block content %}
<form method="post" action="" class="form">{% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
        <button type="button" onclick="window.history.back();" class="btn"><i class="icon-remove"></i> Cancel</button>
    </div>
</form>
{% endblock %}
