<!DOCTYPE html>
<html>
	 <head>
	 	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
        <script language="javascript">
            var STATIC_URL = "{{ STATIC_URL|escapejs }}";
            var XML_FILE="{{ fileurl }}";
        </script>
        <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/contrib/require-jquery.js"></script>
    </head>

    <body>

        <div class="header">
            <span class="btn btn-success save">save</span> 
        </div>
    	<div class="box" id="tagContainer">
    	</div>

    	<div class="box" id="tagHierarchy">
    	</div>

    	<div class="box" id="content">
    	</div>

        <div id="modal"></div>
    	
    </body>

</html>