<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WordSeer File Uploader: {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS Toolkit styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    
    {% block links %}
    {% endblock %}
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    {% include "nav.html" %}
    {% block container %}
    <div class="container">
    {% endblock %}
        <div class="page-header">
            {% block header %}
                <h1>Wordseer File Uploader</h1>
            {% endblock %}
        </div>
        {% block content %}

        {% endblock %}
        {% block main_content %}{% endblock %}
    </div>
</body>
</html>
